
@{
    ViewBag.Title = "DataPassing";
}

<table border="1">
    <tr>
        <td>college code</td>
        <td>College Name</td>
        <td>collge rank</td>
    </tr>
    <h2>DataPassing</h2>
        @foreach (CollegeDetail.Entity.Detail item in (List<CollegeDetail.Entity.Detail>)ViewData["Packages"])
        {
            <tr>
                <td>
                    @item.collegeCode
                </td>
                <td>
                    @item.collegeName
                </td>
                <td>
                    @item.collegeRank
            </td>
        </tr>
        }
    </table>
<h3>College Details-ViewBag</h3>
<table border="1">
    <tr>
        <td>college Name</td>
        <td>College Rank</td>
    </tr>
    @foreach (CollegeDetail.Entity.Detail item in ViewBag.Package)
    {
        <tr>
            <td>
                @item.collegeName
            </td>
            <td>
                @item.collegeRank
            </td>
        </tr>
    }
</table>


